<div>
	<a ui-sref="overview" class="pull-right btn btn-primary btn-outline btn-rounded">Back to Overview</a>
	<h2>Package <small>Create Package For User</small></h2>
	<span class="glyphicon glyphicon-dashboard bg-fade"></span>
	<div class="jumbotron">
		<div class="container">
      <div class="create-package-top">
        <strong>User Name</strong> : Jhon Doe
        <span style="float:right"><strong>User ID   :</strong> ID001299 </span>
      </div>

			<div class="row" style="font-size: 18px;">
			  <div class="col-md-4">
					<ul class="nav nav-pills nav-stacked nav-pills-stacked-example">
						<li role="presentation" class="active"><a href="#">Level 1</a></li>
						<li role="presentation"><a href="#">Level 2</a></li>
						<li role="presentation"><a href="#">Level 3</a></li>
						<li role="presentation"><a href="#">Level 4</a></li>
						<li role="presentation"><a href="#">Level 5</a></li>
						<li role="presentation"><a href="#">Level 6</a></li>
						<li role="presentation"><a href="#">Level 7</a></li>

				</div>
			  <div class="col-md-8">

					<div class="btn btn-primary" style="width: 150px;height: 150px;" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="list1" jqyoui-draggable="{animate:true}" ng-hide="!list1.title"><img src="{{list1.img}}" style="width: 110px;"><br/>{{list1.title}}</div>
					<div class="btn btn-primary" style="width: 150px;height: 150px;" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="list3" jqyoui-draggable="{animate:true}" ng-hide="!list3.title"><img src="{{list3.img}}" style="width: 110px;"><br/>{{list3.title}}</div>
					<div class="btn btn-primary" style="width: 150px;height: 150px;" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="list4" jqyoui-draggable="{animate:true}" ng-hide="!list4.title"><img src="{{list4.img}}" style="width: 110px;"><br/>{{list4.title}}</div>



			  <!--  <div class="thumbnail" data-drop="true" data-jqyoui-options ng-model="list2" jqyoui-droppable style='height: 200px;margin-top: 100px;'>
			      <div class="btn btn-success" data-drag="false" data-jqyoui-options ng-model="list2" jqyoui-draggable ng-hide="!list2.title">{{list2.title}}</div>
			    </div> -->

					<div class="thumbnail" data-drop="true" ng-model='list2' data-jqyoui-options="optionsList1" jqyoui-droppable="{multiple:true,beforeDrop: 'beforeDrop'}" style="height: 200px;margin-top: 99px;">

                  <div class="caption">

                    <div class="btn btn-info" ng-repeat="item in list2" ng-show="item.title" data-drop="true" data-drag="{{item.drag}}" jqyoui-droppable="{beforeDrop: 'beforeDrop'}" data-jqyoui-options="{revert: 'invalid'}" ng-model="list2" jqyoui-draggable="{index: {{$index}},animate:true}">{{item.title}}</div>

                  </div>

          </div>


				</div>
			</div>
		</div>
	</div>
</div>
