<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Title</label>
    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="title">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Discription</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="discription">
  </div>
 
  <button ng-click="reset()" class="btn btn-default">Add To Package</button>
</form>